@model Cybirst.Lesson

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Experts/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        <a href="@Url.Action("Update", "Course", new { id = Model.CourseID })"><i class="fa fa-arrow-left"></i> Lesson's detail</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        @Model.Name
                        @{
                            if (Model.IsPro)
                            {
                                <small class="label bg-red" style="font-size: 12px; margin-left: 5px">PRO</small>
                            }
                        }
                    </h3>
                    <div class="box-tools pull-right">
                        <a href="@Url.Action("Edit", "Lesson", new { id = Model.ID })" class="badge bg-primary" style="font-size: 12px; border: none; padding: 6px 10px;">Edit</a>
                    </div>
                </div>
                <div class="box-body text-center container bg-gray">
                    <video controls height="300">
                        <source src="@Url.Content(Model.Video)" type="video/mp4">
                    </video>
                    <div class="clearfix" style="padding: 20px;">
                        <h3>
                            @Model.Name
                            @{
                                if (Model.IsPro)
                                {
                                    <small class="label bg-red" style="font-size: 12px; margin-left: 5px">PRO</small>
                                }
                            }
                        </h3>
                        <p>
                            @Model.Intro
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

