@{
    ViewBag.Title = "About";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}
<section class="hero">
    <div class="lesson-video-container">
        <div>
            <div class="lesson-with-playlist-holder">
                <div class="lesson-frame-column">
                    <div class="lessons-frame-holder">
                        <div class="lessons-frame">
                            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <style>
                                        video {
                                            width: 100% !important;
                                            height: auto !important;
                                        }
                                    </style>
                                    <video width="300" height="300" controls autoplay="autoplay">
                                        <source src="@Url.Action("Index", "Video", new { videoUrl = @ViewBag.Lesson.Video })" type='video/mp4' />
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div><!-- lessons-frame-holder -->
                    <div class="lesson-action-holder">
                        <div class="buttons-holder">
                            <div class="lesson-controls-container">
                                <a id="playbackSpeed" title="" class="custom-btn square-btn-grey replay-speed-btn hidden-xs" data-original-title="GO PRO to control playback speed!">
                                    <i class="icon-double-angle-right"></i>
                                    1x
                                </a>
                                <a id="2e3c9c92ff3f2d" title="" class="custom-btn" data-original-title="GO PRO for downloads!">
                                    <i class="fa fa-download"></i>
                                    <span class="hidden-xs">
                                        Download in HD
                                    </span>
                                </a>
                                <a id="quick-rewind" title="" class="custom-btn" data-original-title="GO PRO to quick rewind!">
                                    <i class="fa fa-angle-double-left"></i>
                                    <span class="hidden-xs">
                                        10s
                                    </span>
                                </a>
                                <a id="quick-skip" title="" class="custom-btn" data-original-title="GO PRO to skip forward!">
                                    <i class="fa fa-angle-double-right"></i>
                                    <span class="hidden-xs">
                                        25s
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- lesson-frame-column -->
                <div id="NextUpLessonList-react-component-f3a1c247-2b2a-44e0-9bb6-806abe559969">
                    <div data-reactroot="" class="playlist-column">
                        <div class="playlist-actions-holder">
                            <div class="left">
                                <div class="autoplay-switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="on">
                                        <label class="onoffswitch-label" for="myonoffswitch">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="autoplay-label">
                                    <small>autoplay</small>
                                </div>
                            </div>
                        </div>
                        <div class="scrollable-holder" hidden>
                            <div class="pad-bottom-10 playlist-description">
                                <div class="pad-10">
                                    <div class="pad-bottom-10 text-subtle">
                                        <small>this lesson is part of a course</small>
                                    </div>
                                    <div class="pull-right">
                                        <a href="https://egghead.io/courses/build-a-graphql-server"><i class="fa fa-caret-square-o-right"></i></a>
                                    </div>
                                    <h4 class="series-title">@ViewBag.Lesson.Course.Name</h4>
                                </div>
                            </div>
                            <div class="inner">
                                <div class="playlist-lessons-holder">
                                    <ul class="playlist-lessons-list">
                                        @foreach (var lesson in @ViewBag.PreviousLessons)
                                        {
                                            <a href="@Url.Action("Index", "Lesson", new { uid = @lesson.ID })">
                                                <li>
                                                    <div class="up-next-list-item">
                                                        <div class="series-number">@lesson.Order</div>
                                                        <div class="technology-icon-holder">
                                                            <img class="technology-icon hidden-md " src="@lesson.Image">
                                                        </div>
                                                        <div class="lesson-info">
                                                            <div class="list-item-title">@lesson.Name</div>
                                                            <span>
                                                                <svg x="0px" y="0px" viewBox="0 0 8 11.2" class="egg-icon">
                                                                    <path d="M4.2,11.2c-0.7,0-1.4-0.2-2.1-0.7c-1-0.7-1.7-1.8-2-3c-0.5-2.7,0.1-7,2.6-7.5c0.7-0.1,1.4,0,2.1,0.5 c1.6,1.1,2.7,3.6,3,5.5c0.4,2.4-1,4.7-3.1,5.2C4.6,11.2,4.4,11.2,4.2,11.2z M3.3,1.5c-0.1,0-0.1,0-0.2,0l0,0C1.8,1.8,1.2,5,1.6,7.3 c0.2,0.8,0.6,1.6,1.3,2c0.4,0.2,0.9,0.5,1.6,0.4c1.3-0.3,2.2-1.9,1.9-3.4C6.2,4.7,5.2,2.5,4.1,1.8C3.8,1.6,3.5,1.5,3.3,1.5z"></path>
                                                                </svg>
                                                            </span>
                                                            <span class="additional">@lesson.Course.Instructor.FirstName @lesson.Course.Instructor.LastName</span>
                                                            <span class="icon-time"></span>@(lesson.EstimatedTime / 60):@(lesson.EstimatedTime % 60)
                                                            @if (lesson.IsPro)
                                                            {
                                                                <span class="lesson-pro-tag">P</span>
                                                            }

                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                        }
                                        <li class="x-item">
                                            <div id="next-<%= lesson.slug %>" class="current-scroll text-left pad-5">
                                                <small>Now Playing:</small>
                                            </div>
                                            <div class="up-next-list-item current">
                                                <div class="series-number">
                                                    <i class="icon-play"></i>
                                                </div>
                                                <div class="technology-icon-holder">
                                                    <img class="technology-icon hidden-md " src="@ViewBag.Lesson.Image">
                                                </div>
                                                <div class="lesson-info">
                                                    <div class="list-item-title">@ViewBag.Lesson.Name</div>
                                                    <span>
                                                        <svg x="0px" y="0px" viewBox="0 0 8 11.2" class="egg-icon"><path d="M4.2,11.2c-0.7,0-1.4-0.2-2.1-0.7c-1-0.7-1.7-1.8-2-3c-0.5-2.7,0.1-7,2.6-7.5c0.7-0.1,1.4,0,2.1,0.5 c1.6,1.1,2.7,3.6,3,5.5c0.4,2.4-1,4.7-3.1,5.2C4.6,11.2,4.4,11.2,4.2,11.2z M3.3,1.5c-0.1,0-0.1,0-0.2,0l0,0C1.8,1.8,1.2,5,1.6,7.3 c0.2,0.8,0.6,1.6,1.3,2c0.4,0.2,0.9,0.5,1.6,0.4c1.3-0.3,2.2-1.9,1.9-3.4C6.2,4.7,5.2,2.5,4.1,1.8C3.8,1.6,3.5,1.5,3.3,1.5z"></path></svg>
                                                    </span>
                                                    <span class="additional">@ViewBag.Lesson.Course.Instructor.FirstName @ViewBag.Lesson.Course.Instructor.LastName</span>
                                                    <span class="icon-time"></span>@(ViewBag.Lesson.EstimatedTime / 60):@(ViewBag.Lesson.EstimatedTime % 60)
                                                </div>
                                            </div>
                                        </li>
                                        <div class="text-left pad-5">
                                            <small>Next up:</small>
                                        </div>
                                        @foreach (var lesson in @ViewBag.NextLessons)
                                        {
                                            <a href="@Url.Action("Index", "Lesson", new { uid = @lesson.ID })">
                                                <li>
                                                    <div class="up-next-list-item">
                                                        <div class="series-number">@lesson.Order</div>
                                                        <div class="technology-icon-holder">
                                                            <img class="technology-icon hidden-md " src="@lesson.Image">
                                                        </div>
                                                        <div class="lesson-info">
                                                            <div class="list-item-title">@lesson.Name</div>
                                                            <span>
                                                                <svg x="0px" y="0px" viewBox="0 0 8 11.2" class="egg-icon">
                                                                    <path d="M4.2,11.2c-0.7,0-1.4-0.2-2.1-0.7c-1-0.7-1.7-1.8-2-3c-0.5-2.7,0.1-7,2.6-7.5c0.7-0.1,1.4,0,2.1,0.5 c1.6,1.1,2.7,3.6,3,5.5c0.4,2.4-1,4.7-3.1,5.2C4.6,11.2,4.4,11.2,4.2,11.2z M3.3,1.5c-0.1,0-0.1,0-0.2,0l0,0C1.8,1.8,1.2,5,1.6,7.3 c0.2,0.8,0.6,1.6,1.3,2c0.4,0.2,0.9,0.5,1.6,0.4c1.3-0.3,2.2-1.9,1.9-3.4C6.2,4.7,5.2,2.5,4.1,1.8C3.8,1.6,3.5,1.5,3.3,1.5z"></path>
                                                                </svg>
                                                            </span>
                                                            <span class="additional">@lesson.Course.Instructor.FirstName @lesson.Course.Instructor.LastName</span>
                                                            <span class="icon-time"></span>@(lesson.EstimatedTime / 60):@(lesson.EstimatedTime % 60)
                                                            @if (lesson.IsPro)
                                                            {
                                                                <span class="lesson-pro-tag">P</span>
                                                            }

                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- lesson-with-playlist-holder -->
        </div>
    </div><!-- container -->
</section>

<section class="section section-lesson">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 part-left">
                <div class="lesson-description-holder">
                    <h1 class="title">
                        @ViewBag.Lesson.Name
                    </h1>
                    <div class="info-line">
                        <small class="duration"><i class="icon-time"></i> @(ViewBag.Lesson.EstimatedTime / 60):@(ViewBag.Lesson.EstimatedTime % 60)</small>
                        <small class="folder"><i class="icon-folder-open-alt"></i> <a class="underlined" href="/technologies/js">@ViewBag.Lesson.Course.Technology.Name</a></small>
                        <small> lesson by <a rel="author" class="underlined" href="/instructors/josh-black">@ViewBag.Lesson.Course.Instructor.FirstName @ViewBag.Lesson.Course.Instructor.LastName</a></small>
                    </div>
                    <div class="description-text-holder">
                        <p>@ViewBag.Lesson.Intro</p>
                    </div>
                    <div class="share-lesson-holder">
                        <ul class="social-likes">
                            <li><small>Share this lesson:</small></li>
                            <li class="social-likes__widget social-likes__widget_facebook" title="Share link on Facebook"><span class="social-likes__button social-likes__button_facebook"><span class="social-likes__icon social-likes__icon_facebook"></span>Facebook</span></li>
                            <li class="social-likes__widget social-likes__widget_twitter" title="Share link on Twitter"><span class="social-likes__button social-likes__button_twitter"><span class="social-likes__icon social-likes__icon_twitter"></span>Twitter</span></li>
                            <li class="social-likes__widget social-likes__widget_plusone" title="Share link on Google+"><span class="social-likes__button social-likes__button_plusone"><span class="social-likes__icon social-likes__icon_plusone"></span>Google+</span></li>
                        </ul>
                    </div><!-- share-lesson-holder -->
                </div><!-- lesson-description-holder -->
                <!-- tabs-holder -->
            </div><!-- part-left -->
        </div>
    </div>
</section>