
@{
    ViewBag.Title = "Courses";
}



<div class="technology-pages-wrapper">
    <div class="page-title-holder">
        <h1 class="title">
            All of our courses are listed below.
        </h1>
    </div>

    <section class="search-input-container">
        <div id="AutoCompleteSearch-react-component-5172dc93-cc04-41b9-8e1f-230feac7f854">
            <div class="SearchBar__search_bar_wrapper__1z4Oi">
                <div class="SearchBar__search_bar_field__3kicx">
                    @using (Html.BeginForm("Search", "Course", FormMethod.Get))
                    {
                        <input type="text" class="SearchBar__search_bar_input__wldfQ" maxlength="100" name="keyword" placeholder="search 'react redux'">
                        <input type="submit" class="SearchBar__icon___zsxQ SearchBar__search_bar_submit__2XSOl" value="search">
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="section-jump-into-technologies">
        <div class="jump-into-technologies">
            <div class="section-content-holder"> 
                <ul class="technologies-list">
                    @foreach (var tech in ViewBag.Technologies)
                    {
                        <li class="item-wrapper">
                            <a class="anchor-to-technology" data-technology="react" href="@Url.Action("Detail", "Technology", new { uid = @tech.ID })">
                                <div class="item">
                                    <div class="tech-logo-holder">
                                        <img class="tech-logo" src="@tech.MdImage" alt="@tech.Name">
                                    </div>
                                    <div class="description">
                                        <div class="title-holder">
                                            <h4 class="title">
                                                @tech.Name
                                            </h4>
                                            <span class="badge badge-info">@tech.TotalCourses</span>
                                        </div>
                                        <div class="text-holder">
                                        @{
                                            if(tech.Intro != null && tech.Intro.Length > 60)
                                            {
                                                <span>@tech.Intro.Substring(0, 60)....</span>
                                            }
                                            else
                                            {
                                                <span>@tech.Intro</span>
                                            }
                                        }
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>

    
    <section class="section-technology-details">
        <div class="section-inner">
            @foreach (var tech in ViewBag.Technologies)
            {
                <div class="technology-set">
                    <div class="section-titles-holder">
                        <div class="title-holder">
                            <a href="#" class="anchor-to-the-top">
                                <i class="fa fa-caret-up icon"></i>
                                <span>all</span>
                            </a>
                            <img class="tech-logo" src="@tech.MdImage" alt="@tech.Name Courses">
                        </div>
                        <div class="subtitle-holder">
                            <h4 class="title">
                                @tech.Name Courses
                                <span class="badge badge-info">@tech.TotalCourses</span>
                            </h4>
                        </div>
                    </div>
                    <div class="subsection subsection-courses">
                        <div class="grid-row">
                            @foreach (var course in @tech.Courses)
                            {
                                <div class="grid-item">
                                    <div class="card-course">
                                        <img src="@course.Instructor.SmAvatar" class="course-author-avatar" alt="">
                                        <div class="card-course-inner">
                                            <div class="expanded-card-only">
                                                <h4 class="course-subtitle">@( @course.Instructor.FirstName + @course.Instructor.LastName )</h4>
                                                <h3 class="course-title">
                                                    <span>"@course.Name</span>
                                                </h3>
                                            </div>
                                            <div class="card-content">
                                                <div class="course-image-holder">
                                                    <img src="@course.MdImage" class="course-image">
                                                </div>
                                                <div class="course-description-holder">
                                                    <div class="condensed-card-only">
                                                        <h4 class="course-subtitle">@( @course.Instructor.FirstName + @course.Instructor.LastName )</h4>
                                                        <h3 class="course-title">
                                                            <span>@course.Name</span>
                                                        </h3>
                                                    </div>
                                                    <div class="description-text">
                                                        @{
                                                            if (@course.Intro.Length < 150)
                                                            {
                                                                <p>@course.Intro....</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@course.Intro.Substring(0, 150)....</p>
                                                            }

                                                        }
                                                    </div>
                                                </div>
                                                <a class="link-overlay" href="@Url.Action("Detail", "Course", new { uid = @course.ID })" target="_blank"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.anchor-to-the-top').on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop: 0}, 100);
    })
    $('.anchor-to-technology').on('click', function(e) {
      e.preventDefault();
      var anchorID = $(this).data('technology');
      $('html, body').scrollTo('#technology-' + anchorID);
    })
  });
</script>