
@{
    ViewBag.Title = "Course detail";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}
<section class="hero">
    <div class="container">
        <div class="">
            <img src="@ViewBag.Course.LgImage">
        </div>
    </div>
    <!-- container -->
</section>
<section class="section">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-12 text-left">
                <div class="title-subtitle-block">
                    <h1 class="title">@ViewBag.Course.Name</h1>
                    <p class="subtitle"><i class="icon-time text-muted"></i> <i>@(ViewBag.Course.EstimatedTime / 60) minutes</i> </p>
                </div><!-- title-subtitle-block -->
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 ">
                        <div>
                            <p>@ViewBag.Course.Intro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-browse-all-lessons">
    <div class="container">
        <div class="title-subtitle-block">
            <a href="@Url.Action("Index", "Lession")" class="custom-btn custom-btn-red custom-btn-primary">
                Start Watching Lessons
            </a>
            <!-- container -->
        </div>
        <!-- title-subtitle-block -->
        <div class="browse-all-lessons-holder">
            <div class="tool-bar">
                <ul class="list-unstyled list-inline actions-list"></ul>
                <div id="b46978d1b44057" title="" class="pull-left btn btn-default rss-btn" data-original-title="GO PRO for course RSS Feed!">
                    <img alt="pro-course-rss-logo" width="15" height="15" title="Subscriber iTunes course RSS Feed" src="//d1xwtr0qwr70yv.cloudfront.net/assets/rss-logo-5a8c5ebc7b757d2d05f30458f6d83be2.svg">
                    <p>
                        PRO RSS Feed
                    </p>
                </div>
                <!-- actions-list -->
                <div class="btn-group view-switchers-holder-with-rss">
                    <a id="select-list" role="tab" data-toggle="tab" class="btn btn-default btn-view-switcher active">
                        <i class="icon icon-list-ol"></i>
                    </a>
                    <a id="select-thumbs" role="tab" data-toggle="tab" class="btn btn-default btn-view-switcher">
                        <i class="icon icon-th"></i>
                    </a>
                </div>
                <!-- view-switchers-holder -->
            </div>
            <!-- tool-bar -->
            <div class="tab-content view-tabs-holder">
                <div class="tab-pane tab-view-list active" id="lesson-list">
                    <div class="series-lessons-holder" style="display: none;">
                        <ul class="series-lessons-list">
                            @foreach (var a in aTest)
                            {
                                <a class="" href="@Url.Action("Index", "Lession")">
                                    <li class="item  ">
                                        <div class="part-left"><i class="pseudo-checkbox"></i></div>
                                        <div class="part-right"></div>
                                        <div class="lesson-content">
                                            <h5 class="title">abc</h5>
                                            <div class="info-line"><small class="duration">js - <i class="icon-time">12:30</i> </small></div>
                                        </div>
                                    </li><!-- item -->
                                </a>
                            }
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tbody>
                                @foreach (var lesson in ViewBag.Course.Lessons)
                                {
                                    <tr id="lesson-row-1468" class="lesson-row ">
                                        <td class="cell cell-pseudo-checkbox">
                                            <span class="pseudo-checkbox-holder">
                                                <i id="completed-icon-1468-true" class="pseudo-checkbox" style="display: none"></i>
                                                <i id="uncompleted-icon-1468-true" class="pseudo-checkbox" style=""></i>
                                            </span>
                                        </td>
                                        <td class="cell cell-category-logo">
                                            <a href="@Url.Action("Detail", "Technology")">
                                                <img class="category-logo" src="@ViewBag.Course.Technology.MdImage" alt="Js">
                                            </a>
                                        </td>
                                        <td class="cell cell-lesson-title">
                                            <h4 class="title"><a href="@Url.Action("Index", "Lession")">@lesson.Name</a> <span class="text-muted"></span></h4>
                                        </td>
                                        <td class="cell cell-lesson-category hidden-xs hidden-sm">
                                            <div class="info-line">
                                                <small class="folder">
                                                    <i class="icon-folder-open-alt"></i> <a href="https://egghead.io/technologies/js">@ViewBag.Course.Technology.Name</a>
                                                </small>
                                            </div>
                                        </td>
                                        <td class="cell cell-pro"></td>
                                        <td class="cell cell-duration hidden-xs hidden-sm">
                                            <div class="info-line">
                                                <small class="duration"><i class="icon-time"></i> @(lesson.EstimatedTime / 60):@(lesson.EstimatedTime % 60)</small>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- tab-view-list -->
                <div class="tab-pane tab-view-tiles" id="lesson-thumbs">
                    <div class="row block-lessons">
                        @foreach (var lessons in ViewBag.Course.Lessons)
                        {
                            <div class="col-sm-4 item-holder ">
                                <div id="lesson-tile-1468" class="item ">
                                    <a href="@Url.Action("Index", "Lession")">
                                        <div class="media-holder">
                                            <div class="overlay"></div>
                                            <img src="https://dcv19h61vib2d.cloudfront.net/thumbs/egghead-create-a-graphql-schema/egghead-create-a-graphql-schema.jpg" alt="js tutorial about Create a GraphQL Schema" class="img-responsive">
                                        </div>
                                    </a>      <!-- video-holder -->
                                    <div class="media-subscription-holder">
                                        <h4 class="title">
                                            <span class="pseudo-checkbox-holder">
                                                <i id="completed-icon-1468-false" class="pseudo-checkbox" style="display: none"></i>
                                                <i id="uncompleted-icon-1468-false" class="pseudo-checkbox" style=""></i>
                                            </span>
                                            Create a GraphQL Schema
                                        </h4>
                                        <div class="info-line">
                                            <small class="duration"><i class="icon-time"></i> 4:16</small>
                                            <small class="folder"><i class="icon-folder-open-alt"></i> js</small>
                                        </div>
                                        <!-- info-line -->
                                        <small class="description">
                                            <p>In this video, we’ll take a look at the GraphQL Language and write out our first GraphQL Schema. We’ll use the <code>graphql</code> package available to us through <code>npm</code> to parse our <code>graphql</code> language file and resolve our initial query.</p>
                                        </small>
                                    </div>
                                    <!-- video-subscription-holder -->
                                </div>
                                <!-- item -->
                                <div class="cs-items-separator"></div>
                            </div>
                        }
                    </div>
                    <!-- block-lessons -->
                </div>
                <!-- tab-view-tiles -->
                <!-- pagination-holder -->
            </div>
            <!-- view-tabs-holder -->
        </div><!-- browse-all-lessons-holder -->
    </div><!-- container -->
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4><strong>Presented by:</strong></h4>
                <div class="media well">
                    <a class="pull-left hidden-xs" href="">
                        <img class="media-object instructor-photo" src="@ViewBag.Course.Instructor.SmAvatar">
                    </a>
                    <div class="media-body">
                        <div class="row text-center visible-xs pad-bottom">
                            <img class="media-object instructor-photo" src="https://d2eip9sf3oo6c2.cloudfront.net/instructors/avatars/000/000/058/small/XJGtEzxg.jpeg?1457387913">
                        </div>
                        <div class="clearfix">
                            <h4 class="media-heading">@ViewBag.Course.Instructor.FirstName @ViewBag.Course.Instructor.LastName</h4>
                            <p>@ViewBag.Course.Instructor.Intro</p>
                        </div>
                        <div class="clearfix">
                            @{
                                var twitter = "@" + ViewBag.Course.Instructor.FirstName.Trim().ToLower() + ViewBag.Course.Instructor.LastName.Trim().ToLower();
                            }
                            <a target="_blank" href="@ViewBag.Course.Instructor.Twitter">@twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
