@model Cybirst.Areas.Experts.Controllers.CourseModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Experts/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        <a href="@Url.Action("Index", "Course", new { id = ViewBag.CourseDetail.ID })"><i class="fa fa-arrow-left"></i> Edit</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Edit", "Course", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Name">Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @autofocus = "autofocus", @Value = ViewBag.CourseDetail.Name })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Name">Technology</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.TechnologyID, (IEnumerable<SelectListItem>)ViewBag.Technologies, String.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Name">Intro</label>
                        <div class="col-md-10">
                            @Html.TextArea("Intro", (string)ViewBag.CourseDetail.Intro, new { rows = 10, @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            For PRO accounts
                        </label>
                        <div class="col-md-10">
                            <label class="control-label">
                                @Html.CheckBox("IsPro", (bool)ViewBag.CourseDetail.IsPro)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Small image
                        </label>
                        <div class="col-md-10">
                            <div class="col-md-12" style="text-align: center; background: #f9f9f9; border: dashed 3px #bdbdbd;">
                                <img src="@Url.Content(ViewBag.CourseDetail.SmImage)" id="imgSmImage" height="100" />
                                <input type="file" id="btnSmImage" name="SmImage" />
                                <script>
                                    $("#btnSmImage").change(function () {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            // get loaded data and render thumbnail.
                                            $("#imgSmImage").attr('src', e.target.result);
                                        };

                                        // read the image file as a data URL.
                                        reader.readAsDataURL(this.files[0]);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Medium image
                        </label>
                        <div class="col-md-10">
                            <div class="col-md-12" style="text-align: center; background: #f9f9f9; border: dashed 3px #bdbdbd;">
                                <img src="@Url.Content(@ViewBag.CourseDetail.MdImage)" id="imgMdImage" height="100" />
                                <input type="file" id="btnMdImage" name="MdImage" />
                                <script>
                                    $("#btnMdImage").change(function () {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            // get loaded data and render thumbnail.
                                            $("#imgMdImage").attr('src', e.target.result);
                                        };

                                        // read the image file as a data URL.
                                        reader.readAsDataURL(this.files[0]);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Large image
                        </label>
                        <div class="col-md-10">
                            <div class="col-md-12" style="text-align: center; background: #f9f9f9; border: dashed 3px #bdbdbd;">
                                <img src="@Url.Content(ViewBag.CourseDetail.LgImage)" id="imgLgImage" height="150" />
                                <input type="file" id="btnLgImage" name="LgImage" />
                                <script>
                                    $("#btnLgImage").change(function () {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            // get loaded data and render thumbnail.
                                            $("#imgLgImage").attr('src', e.target.result);
                                        };

                                        // read the image file as a data URL.
                                        reader.readAsDataURL(this.files[0]);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
