@model Course

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Experts/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <a href="@Url.Action("Index", "Course", new { id = Model.ID })"><i class="fa fa-arrow-left"></i> Update course's lessons</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@Model.Name
                    </h3>
                    <div class="box-tools pull-right">
                        <a href="@Url.Action("Create", "Lesson", new { courseid = Model.ID })" class="badge bg-green" style="font-size: 12px; border: none; padding: 6px 10px;">New lesson</a>
                    </div>
                </div>
                <div class="box-body">
                    @{ 
                        List<Lesson> lessons = Model.Lessons.ToList<Lesson>();
                        if (lessons != null && lessons.Count > 0)
                        {
                            foreach (var ls in lessons)
                            {
                                <a href="@Url.Action("Index", "Lesson", new { id = ls.ID })">
                                    <div class="info-box bg-gray-light">
                                        <span class="info-box-icon">
                                            <i class="ion ion-ios-videocam"></i>
                                        </span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">@ls.Order</span>
                                            <span class="info-box-number">
                                                <a href="@Url.Action("Index", "Lesson", new { id = ls.ID })">@ls.Name</a>
                                                @{
                                                    if (ls.IsPro)
                                                    {
                                                        <small class="label bg-red" style="margin-left: 10px; font-size: 12px; ">PRO</small>
                                                    }
                                                }
                                            </span>
                                            <span class="progress-description">@ls.Intro</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            }
                        }
                        else {
                            <div class="attachment-block text-center" style="padding: 150px 0;">
                                <h3>You have no lessons in this course.</h3>
                                <p>Let create the first one!</p>
                                <a href="@Url.Action("Create", "Lesson", new { courseid = Model.ID })"  class="badge bg-green" style="font-size: 12px; border: none; padding: 6px 10px;">New lesson</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>