
@{
    ViewBag.Title = "Instructor detail";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}

<section class="hero">
    <div class="container">
        <img src="@ViewBag.Instructor.MdAvatar" alt="Egghead Instructor Kent C. Dodds" class="avatar">

        <h2 class="title">@ViewBag.Instructor.FirstName @ViewBag.Instructor.LastName</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>@ViewBag.Instructor.Intro</p>
            </div>
        </div>
        <br>
        <div class="row">
            <ul class="list-inline list-unstyled">
                @{ 
                    var twitter = "@" + ViewBag.Instructor.FirstName.Trim().ToLower() + ViewBag.Instructor.LastName.Trim().ToLower();
                }
                <li><a class="underlined hero-bottom-link" rel="me" target="_blank" href="@ViewBag.Instructor.Twitter">@twitter</a></li>
                <li><a class="underlined hero-bottom-link" rel="me" target="_blank" href="@ViewBag.Instructor.GooglePlus">Google+</a></li>
                <li><a class="underlined hero-bottom-link" target="_blank" rel="me" itemprop="url" href="@ViewBag.Instructor.Blog">@ViewBag.Instructor.Blog</a></li>

            </ul>
        </div>
        <br>
        <a id="hero-signup" href="#" class="custom-btn custom-btn-red custom-btn-primary get-pro">
            Unlock all of @ViewBag.Instructor.FirstName.'s PRO Lessons
            <br> <small><i>click for instant access!</i></small>
        </a>
    </div>
    <!-- container -->
</section>

<section class="section section-browse-all-lessons">
    <div class="container">
        <div class="title-subtitle-block">
            <h2 class="title">Browse @ViewBag.Instructor.FirstName @ViewBag.Instructor.LastName's courses.</h2>
            <p class="subtitle"><i>showing @ViewBag.Instructor.TotalCourses courses...</i></p>
        </div><!-- title-subtitle-block -->
        <div class="browse-all-lessons-holder">
            <div class="tool-bar">

                <ul class="list-unstyled list-inline actions-list">
                    <li>
                        <small>
                            <a class="filter-trigger active" href="#">Latest first</a>
                        </small>
                    </li>
                    <li>
                        <small>
                            <a class="filter-trigger" href="/instructors/kentcdodds?order=ASC">Oldest first</a>
                        </small>
                    </li>
                </ul>
                <!-- actions-list -->

                <div class="btn-group view-switchers-holder">
                    <a id="select-list" role="tab" data-toggle="tab" class="btn btn-default btn-view-switcher">
                        <i class="icon icon-list-ol"></i>
                    </a>
                    <a id="select-thumbs" role="tab" data-toggle="tab" class="btn btn-default btn-view-switcher active">
                        <i class="icon icon-th"></i>
                    </a>
                </div>

                <!-- view-switchers-holder -->
                <div class="lessons-to-show-holder hidden">
                    <small class="hidden-xs">Lessons to show...</small>
                    <select name="" id="select-lessons-to-show" class="chosen-select chosen-select-small" style="display: none;">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="48">48</option>
                        <option value="96">96</option>
                    </select>
                    <div class="chosen-container chosen-container-single chosen-select chosen-select-small chosen-container-single-nosearch" style="width: 0px;" title="" id="select_lessons_to_show_chosen"><a class="chosen-single chosen-default"><span> </span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                </div>
            </div>
            <!-- tool-bar -->

            <div class="tab-content view-tabs-holder">
                <div class="tab-pane tab-view-list" id="lesson-list">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tbody>
                                @foreach (var course in ViewBag.Instructor.Courses)
                                {
                                    <tr id="lesson-row-1763" class="lesson-row ">
                                        <td class="cell cell-category-logo">
                                            <a href="@Url.Action("Detail", "Technology")">
                                                <img class="category-logo" src="@course.SmImage" alt="Js">
                                            </a>
                                        </td>
                                        <td class="cell cell-lesson-title">
                                            <h4 class="title"><a href="@Url.Action("Index", "Lession")">@course.Name</a> <span class="text-muted"></span></h4>

                                        </td>
                                        <td class="cell cell-lesson-category hidden-xs hidden-sm">
                                            <div class="info-line">
                                                <small class="folder">
                                                    <i class="icon-folder-open-alt"></i> <a href="@Url.Action("Detail", "Technology")">@course.Technology.Name</a>
                                                </small>
                                            </div>
                                        </td>
                                        <td class="cell cell-pro"></td>
                                        <td class="cell cell-duration hidden-xs hidden-sm">
                                            <div class="info-line">
                                                <small class="duration"><i class="icon-time"></i> @(course.EstimatedTime / 60) mins</small>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- tab-view-list -->

                <div class="tab-pane tab-view-tiles active" id="lesson-thumbs">
                    <div class="row block-lessons">
                        @foreach (var course in ViewBag.Instructor.Courses)
                        {
                            <div class="col-sm-4 item-holder ">
                                <div id="lesson-tile-1763" class="item ">
                                    <a href="@Url.Action("Index", "Course")">
                                        <div class="media-holder">
                                            <div class="overlay"></div>
                                            <img src="https://dcv19h61vib2d.cloudfront.net/thumbs/egghead-js-public-class-fields-with-react-components/egghead-js-public-class-fields-with-react-components.jpg" alt="js tutorial about Public Class Fields with React Components" class="img-responsive">
                                        </div>
                                    </a>      <!-- video-holder -->

                                    <div class="media-subscription-holder">
                                        <h4 class="title">
                                            @course.Name
                                        </h4>

                                        <div class="info-line">
                                            @{ 
                                                var minutes = course.EstimatedTime / 60;
                                            }
                                            <small class="duration"><i class="icon-time"></i> @minutes mins</small>
                                            <small class="folder"><i class="icon-folder-open-alt"></i> @course.Technology.Name</small>
                                        </div>
                                        <!-- info-line -->
                                        @{
                                            string description = course.Intro;
                                            if (description.Length > 240)
                                            {
                                                <small class="description">
                                                    <p>@course.Intro.Substring(0, 240)....</p>
                                                </small>
                                            }
                                            else{
                                                <small class="description">
                                                    <p>@course.Intro....</p>
                                                </small>
                                            }
                                        }
                                        
                                    </div>
                                    <!-- video-subscription-holder -->
                                </div>
                                <!-- item -->
                                <div class="cs-items-separator"></div>
                            </div>
                                            }
                    </div>
                    <!-- block-lessons -->
                </div>
                <!-- tab-view-tiles -->
                <div class="pagination-holder text-center">
                    <ul class="pagination pagination"><li class="prev disabled"><span>← Previous</span></li> <li class="active"><span>1</span></li> <li class="next"><a rel="next" href="#">Next →</a></li></ul>
                </div>
                <!-- pagination-holder -->
            </div>
            <!-- view-tabs-holder -->
        </div><!-- browse-all-lessons-holder -->
    </div><!-- container -->
</section>