<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Depends on lodash from vendor-client-bundle -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/egg")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/egg")
    <script src="https://d1xwtr0qwr70yv.cloudfront.net/assets/application-d204f4216a9aa3b551b9e89541e73b80.js"></script>
    <script src="https://d1xwtr0qwr70yv.cloudfront.net/assets/app-client-bundle-be2f887cccb7ba9a2ffde065c41fe4d7.js" data-turbolinks-track="true"></script>
    
</head>
<body>
    <!--Header-->
    <header class="navigation__header">
        <nav role="navigation" class="navbar header-navigation-holder">
            <div class="header__inner">
                <div class="navbar-header">
                    <a href="/" class="header__logo-link">
                        <img class="header__logo" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/elements/logo-mobile-5597add42dbadaf5a6db51e8546cb282.svg" alt="Logo mobile" />
                    </a>
                    <div class="navbar-header-search-holder">
                        <div class="search-field__holder collapsed">
                            <input type="text" class="search-field__input">
                            <button class="search-field__submit">
                                <i class="icon icon-search"></i>
                            </button>
                        </div>
                        <button data-target="#header-navigation" data-toggle="collapse" class="navbar-toggle header-navigation-toggle"
                                type="button">
                            <i class="icon-reorder"></i>
                        </button>
                    </div>
                </div>
                <div id="header-navigation" class="collapse navbar-collapse header__navigation">
                    <ul class="nav navbar-nav header__navigation-list">
                        <li class=""><a href="/Home/Courses">Browsers</a></li>
                        <li class=""><a href="/Home/NewCourses">New courses</a></li>
                    </ul>
                    <ul class="nav navbar-nav header__navigation-list fluid aligned-end">
                        <li class="hidden-xs hidden-sm">
                            <div class="search-field__holder collapsed">
                                <input type="text" class="search-field__input">
                                <button class="search-field__submit">
                                    <i class="icon icon-search"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <a href="/pricing?from=go-pro-nav" class="pro-link">GO PRO</a>
                        </li>
                        <li><a href="/Auth/SignIn">Sign In</a></li>
                        <li><a href="/Auth/SignUp">Create Free Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
              // Hide Header on on scroll down
              var didScroll;
              var lastScrollTop = 0;
              var delta = 5;
              var headerHeight = $('header').outerHeight();

              $(window).scroll(function(event){
                didScroll = true;
              });

              setInterval(function() {
                if (didScroll) {
                  hasScrolled();
                  didScroll = false;
                }
              }, 250);

              function hasScrolled() {
                var st = $(this).scrollTop();

                // Make sure they scroll more than delta
                if(Math.abs(lastScrollTop - st) <= delta)
                  return;

                // If they scrolled down and are past the navbar, add class .nav-up.
                // This is necessary so you never see what is "behind" the navbar.
                if (st > lastScrollTop && st > headerHeight){
                  // Scroll Down
                  $('.navigation__header').removeClass('header-down').addClass('header-up');
                } else {
                  // Scroll Up
                  if(st + $(window).height() < $(document).height()) {
                    $('.navigation__header').removeClass('header-up').addClass('header-down');
                  }
                }

                lastScrollTop = st;
              }
            });

            // Collapsable Search Field
            $('.search-field__holder.collapsed').on('click', function(e) {
              $(this).removeClass('collapsed').addClass('expanded').find('.search-field__input').focus();
            });

            $(document).on('touchstart', function() {
              documentClick = true;
            });
            $(document).on('touchmove', function() {
              documentClick = false;
            });

            $(document).on('click touchend', function (event) {
              if (event.type == 'click') documentClick = true;
              if (documentClick){
                if(!$(event.target).closest('.navigation__header .search-field__holder').length) {
                  if($('.navigation__header .search-field__holder').hasClass('expanded')) {
                    $('.navigation__header .search-field__holder').addClass('collapsed').removeClass('expanded');
                  }
                }
              }
            })
        </script>
    </header>
    <div class="header--spacer"></div>
    <!--end Header-->

    <!--Body-->
    <div class="home">
        @RenderBody()
    </div>
    <!--end Body-->

    <!--Footer-->
    <footer class="site-footer">
        <div class="site-footer__inner">
            <div class="site-footer__links-place">
                <ul class="site-footer__links-list">
                    <li>
                        <a href="/pricing?from=go-pro-nav">Go Pro</a>
                    </li>
                    <li>
                        <a href="/courses">Browse Courses</a>
                    </li>
                    <li>
                        <a href="/instructors">Instructors</a>
                    </li>
                    <li>
                        <a href="/stories">Read Success Stories</a>
                    </li>
                </ul>
                <div class="egghead__copyright">&copy; egghead.io</div>
                <div class="egghead__terms">
                    <a href="/privacy">Terms &amp; Conditions</a>
                </div>
            </div>
            <div class="site-footer__search-place">
                <h3 class="site-footer__search-place--title">Search Lessons</h3>
                <div class="search-field__holder">
                    <input type="text" class="search-field__input">
                    <button class="search-field__submit">
                        <i class="icon icon-search"></i>
                    </button>
                </div>
                <div class="site-footer__social_holder">
                    <div class="links-set">
                        <a href="https://twitter.com/eggheadio" class="icon-twitter"></a>
                        <a href="https://www.facebook.com/eggheadio" class="icon-facebook-sign"></a>
                        <a href="https://plus.google.com/+EggheadIo" rel="publisher" class="icon-google-plus"></a>
                    </div>
                    <a href="/" class="site-footer__logo-link">
                        <img class="site-footer__logo" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/elements/logo-with-text-e29fbcc9ef0910c60818a30b0390299f.svg" alt="Logo with text" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--end Footer-->
</body>
</html>
