@{
    ViewBag.Title = "Home-Index";
}

<div class="ready-to-dive-in">
        <div class="ready-to-dive-in__inner">
            <h2 class="ready-to-dive-in__title">Courses in Production</h2>
            <h4 class="ready-to-dive-in__subtitle">These courses are being created. <br>egghead.io members will have full access to these titles when they are released.</h4>

            <div class="browse-all-lessons-holder">
                <div class="tab-view-list">
                    <div class="series-lessons-holder visible-xs visible-sm">
                        <ul class="series-lessons-list">
                            @foreach (var course in ViewBag.Courses)
                            {
                                <li class="item">
                                    <div class="lesson-content">
                                        <h5 class="title">@course.Name</h5>
                                        <div class="info-line"><small class="duration">@course.Technology.Name</small></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="table-responsive hidden-xs hidden-sm">
                        <table class="table table-condensed">
                            <tbody>
                                @foreach (var course in ViewBag.Courses)
                                {
                                    <tr class="lesson-row---hoverless">
                                        <td class="cell cell-category-logo">
                                            <a href="@Url.Action("Detail", "Technology", new { uid = course.Technology.ID })">
                                                <img class="category-logo" src="@Url.Content(course.SmImage)" alt="Course image thumb js" />
                                            </a>
                                        </td>
                                        <td class="cell cell-lesson-title">
                                            <h4 class="title"><a href="@Url.Action("Detail", "Course", new { uid = course.ID })">@course.Name</a></h4>
                                        </td>
                                        <td class="cell cell-lesson-category">
                                            <div class="info-line">
                                                <small class="folder"><i class="icon-folder-open-alt"></i> @course.Technology.Name</small>
                                            </div>
                                        </td>
                                        <td class="cell cell-duration">
                                            <div class="info-line">
                                                <small>@( course.Instructor.FirstName + course.Instructor.LastName )</small>
                                            </div>
                                        </td>
                                        <td class="cell">
                                            <div class="info-line"></div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
