@{
    ViewBag.Title = "Home-Index";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    int[] bTest = { 1, 2, 3, 4 };
    int[] cTest = { 1, 2, 3, 4, 5, 6 };
}

<!--Home first-->
@{
    Html.RenderAction("HomeFirst", "LandingPage");
}
<!--end Home first-->

<!---Hundreds free videos-->
@{
    Html.RenderAction("HundredsFreeVideos", "LandingPage");
}

<!--end Hundreds free videos-->

<!--Most popuplar course-->
@*<div class="most-popular-courses">
    <div class="most-popular-courses__inner">

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("CourseDetail", "Home")'>
                        <img src='~/Images/course_image_full_angular2.png' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("CourseDetail", "Home")'>Get Started with Angular 2 </a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">John  Lindquist</span></h4>
                            <h5 class="videos-amount">13&nbsp;<span class="hide-mobile-landscape"> lessons in 26 minutes</span></h5>
                        </div>
                        <a class="course__button--start"  href='@Url.Action("CourseDetail", "Home")'>
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="most-popular-courses__title-wrapper">
            <div>
                <h2 class="title-wrapper__title">Most popular courses</h2>
                <a href="/courses" class="title-wrapper__link">click here to find a course to watch</a>
            </div>
        </div>

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("CourseDetail", "Home")'>
                        <img src='https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/025/full/EGH_Redux-New.png?1461772196' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("CourseDetail", "Home")'>Getting Started with Redux</a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">Dan Abramov</span></h4>
                            <h5 class="videos-amount">30&nbsp;<span class="hide-mobile-landscape"> lessons in 121 minutes</span></h5>
                        </div>
                        <a href='@Url.Action("CourseDetail", "Home")' class="course__button--start">
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("CourseDetail", "Home")'>
                        <img src='https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/054/full/EGH_Webpack-Final.png?1466197336' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("CourseDetail", "Home")'>Using Webpack for Production JavaScript Applications</a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">Kent C. Dodds</span></h4>
                            <h5 class="videos-amount">16&nbsp;<span class="hide-mobile-landscape"> lessons in 64 minutes</span></h5>
                        </div>
                        <a href='@Url.Action("CourseDetail", "Home")' class="course__button--start">
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>*@
<!--end Most popuplar course-->

<!--Join the Programming Elite-->
@*<div class="join-elite">
    <div class="join-elite__inner">
        <div class="join-elite__thingies">
            <img src="~/Images/join-elite-thingies-9881d780bf9db149cae0841dbf40f51c.png" alt="Join elite thingies" />
        </div>
        <h2 class="join-elite__title">Join the Programming Elite</h2>
        <ul class="join-elite__benefits">
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-better-career-opportunities-ff27552ddd5873eb35f45ba7f7910c5f.png" alt="Join elite better career opportunities" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Better career opportunities</h3>
                    <p class="description-text">Get the promotion, join your dream company, or strike out on your own. We help you take control of your career.</p>
                </div>
            </li>
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-stay-up-to-date-c19144be82dcb894c41bf2c8075436e2.png" alt="Join elite stay up to date" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Stay up-to-date</h3>
                    <p class="description-text">Front-end frameworks evolve at the speed of light. We keep you speeding right along side them.</p>
                </div>
            </li>
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-confidence-and-expertise-8ff40c6b941115fb54f5ad91f98bf5dd.png" alt="Join elite confidence and expertise" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Confidence & expertise</h3>
                    <p class="description-text">Take the lead and step into the top tiers of programming. You’ll gain expert skills that put you among the best.</p>
                </div>
            </li>
        </ul>
    </div>
</div>*@
<!--end Join the Programming Elite-->

<!--start Taught by leaders-->
@{
    Html.RenderAction("TaughtByLeaders", "LandingPage");
}
<!--end Taught by leaders-->

<!--blockquote-->
@{
    Html.RenderAction("BlockQuote", "LandingPage");
}
<!--end blockquote-->

<!--What do you want to learn?-->
@{
    Html.RenderAction("WhatDoYouWantToLearn", "LandingPage");
}
<!--end What do you want to learn?-->

<!--Courses in Production-->
@{
    Html.RenderAction("CoursesInProduction", "LandingPage");
}
<!--end Courses in Production-->