<div class="most-popular-courses">
    <div class="most-popular-courses__inner">

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("Index", "CourseDetail")'>
                        <img src='~/Images/course_image_full_angular2.png' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("Index", "CourseDetail")'>Get Started with Angular 2 </a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">John  Lindquist</span></h4>
                            <h5 class="videos-amount">13&nbsp;<span class="hide-mobile-landscape"> lessons in 26 minutes</span></h5>
                        </div>
                        <a class="course__button--start" href='@Url.Action("Index", "CourseDetail")'>
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="most-popular-courses__title-wrapper">
            <div>
                <h2 class="title-wrapper__title">Most popular courses</h2>
                <a href="/courses" class="title-wrapper__link">click here to find a course to watch</a>
            </div>
        </div>

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("Index", "CourseDetail")'>
                        <img src='https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/025/full/EGH_Redux-New.png?1461772196' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("Index", "CourseDetail")'>Getting Started with Redux</a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">Dan Abramov</span></h4>
                            <h5 class="videos-amount">30&nbsp;<span class="hide-mobile-landscape"> lessons in 121 minutes</span></h5>
                        </div>
                        <a href='@Url.Action("Index", "CourseDetail")' class="course__button--start">
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="most-popular-courses__course-wrapper">
            <div class="most-popular-courses__course">
                <div class="course__logo-holder">
                    <a href='@Url.Action("Index", "CourseDetail")'>
                        <img src='https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/054/full/EGH_Webpack-Final.png?1466197336' class='course__logo' alt='' />
                    </a>
                </div>
                <div class="course__description">
                    <h3 class="course__description--title"><a href='@Url.Action("Index", "CourseDetail")'>Using Webpack for Production JavaScript Applications</a></h3>
                    <div class="hr"></div>
                    <div class="course__description--info">
                        <div class="course-by-author">
                            <h4 class="author">with <span class="text-uppercase">Kent C. Dodds</span></h4>
                            <h5 class="videos-amount">16&nbsp;<span class="hide-mobile-landscape"> lessons in 64 minutes</span></h5>
                        </div>
                        <a href='@Url.Action("Index", "CourseDetail")' class="course__button--start">
                            <img src="~/Images/course-start-button-674d59aa3fe77a6dabe027bfb5a60762.png" alt="Course start button" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

