@{
    ViewBag.Title = "Home-Index";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    int[] bTest = { 1, 2, 3, 4 };
    int[] cTest = { 1, 2, 3, 4, 5, 6 };
}
<div class="taught-by-leaders">
    <div class="taught-by-leaders__inner">
        <h2 class="taught-by-leaders__title">Taught by Industry Leaders</h2>
        <h3 class="taught-by-leaders__subtitle">Learn cutting-edge practices from working engineers</h3>
        <div class="taught-by-leaders__cards-holder">
            @foreach (var instructor in ViewBag.Instructors)
            {
                <div class="taught-by-leaders__card">
                    <a href="@Url.Action("Index", "InstructorDetail")">
                        <img class="instructor__photo" src="@Url.Content(instructor.MediumAvatar != null ? instructor.MediumAvatar : " ")" alt="">
                    </a>
                    <div class="instructor__info-holder">
                        <div class="instructor__title_box">
                            <a href="@Url.Action("Index", "InstructorDetail")">
                                <h4 class="instructor__title">@( instructor.FirstName + instructor.LastName )</h4>
                            </a>
                        </div>
                        <div class="instructor__about">@instructor.Intro</div>
                    </div>
                    @{
                        string teachings = "";
                        var i = 0;
                        var techs = ViewBag.TechsTaughtByInstructors[instructor.ID.ToString()];
                        foreach (var tech in techs)
                        {
                            teachings += (string)tech;
                            if (i < techs.Count - 1)
                            {
                                teachings += ", ";
                            }
                            i++;
                        }
                    }
                    <div class="instructor__teaching-technologies">
                        <span>@("Teaching " + teachings)</span>
                    </div>
                </div>
            }
        </div>
        <div class="taught-by-leaders__more-instructors">
            <div class="more-instructors__instructors-photos">
                @foreach (var c in cTest)
                {
                    <div class="item">
                        <a href="@Url.Action("Index", "InstructorDetail")">
                            <img src='~/Images/people/image1.jpeg' class='instructor__photo' alt='' />
                        </a>
                    </div>
                }
            </div>
            <div class="more-instructors__see-all">
                <div class="plus-more__box">+ 61 More</div>
                <div class="see-all-instructors__box">
                    <a href="@Url.Action("Index", "InstructorDetail")" class="see-all-instructors__link">
                        MEET ALL OUR
                        <br class="hide-mobile-landscape">
                        INSTRUCTORS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
